flows.json
[{"id":"f9e042ec.81f39","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b4e8c2b5.8be82","type":"http request","z":"f9e042ec.81f39","name":"alarm-trigger","method":"POST","ret":"obj","paytoqs":false,"url":"https://maker.ifttt.com/trigger/alert/with/key/cA9iEK8uTRXRJ4BX4wuDxW","tls":"","persist":false,"proxy":"","authType":"","x":1070,"y":400,"wires":[[]]},{"id":"d99f8329.54ac3","type":"tcp in","z":"f9e042ec.81f39","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":210,"y":420,"wires":[["34ca4eb4.45a8f2"]]},{"id":"34ca4eb4.45a8f2","type":"function","z":"f9e042ec.81f39","name":"Json-prepare","func":" \n\nmsg.payload = msg.payload.substring(\n    msg.payload.lastIndexOf(\"{\"),\n    msg.payload.lastIndexOf(\"}\")\n\n);\n\n    msg.payload=msg.payload.concat(\"}\");    \nif(msg.payload!=='}')\n    return msg;","outputs":1,"noerr":0,"x":410,"y":420,"wires":[["26097802.5a7ed8"]]},{"id":"120361ff.9bb21e","type":"json","z":"f9e042ec.81f39","name":"json/object","property":"payload","action":"","pretty":true,"x":730,"y":420,"wires":[["4fb98ef8.17607","6917353e.06271c"]]},{"id":"26097802.5a7ed8","type":"change","z":"f9e042ec.81f39","name":"Json-prepare","rules":[{"t":"change","p":"payload","pt":"msg","from":"'","fromt":"str","to":"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":420,"wires":[["120361ff.9bb21e"]]},{"id":"4fb98ef8.17607","type":"function","z":"f9e042ec.81f39","name":"packet-prepare","func":"msg.headers=\n{\n    \"Content-Type\": \"application/json\"\n}\n\nmsg.payload={\n \n \"value1\":msg.payload.s\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":400,"wires":[["b4e8c2b5.8be82"]]},{"id":"4fd79143.32e2f","type":"tcp in","z":"f9e042ec.81f39","name":"","server":"client","host":"localhost","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":210,"y":540,"wires":[["1beddee.ba93621"]]},{"id":"13ccbd71.816033","type":"tcp in","z":"f9e042ec.81f39","name":"","server":"client","host":"localhost","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":210,"y":660,"wires":[["c432f2c8.1b45c"]]},{"id":"42b03654.ca6838","type":"tcp in","z":"f9e042ec.81f39","name":"","server":"client","host":"localhost","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":210,"y":780,"wires":[["e50a8ae1.94ea68"]]},{"id":"f5c276ed.916468","type":"tcp in","z":"f9e042ec.81f39","name":"","server":"client","host":"localhost","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":210,"y":900,"wires":[["95e39186.6cf59"]]},{"id":"24dc15c7.71781a","type":"file","z":"f9e042ec.81f39","name":"","filename":"/home/user/Desktop/mote1.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1130,"y":440,"wires":[[]]},{"id":"6917353e.06271c","type":"function","z":"f9e042ec.81f39","name":"adding-date","func":"var d= new Date();\nmsg.payload=\n{\"date\":d ,\"sender\":msg.payload.s,\"receiver\":msg.payload.r };\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":440,"wires":[["24dc15c7.71781a"]]},{"id":"3cbcef9a.57924","type":"http request","z":"f9e042ec.81f39","name":"alarm-trigger","method":"POST","ret":"obj","paytoqs":false,"url":"https://maker.ifttt.com/trigger/alert/with/key/cA9iEK8uTRXRJ4BX4wuDxW","tls":"","persist":false,"proxy":"","authType":"","x":1070,"y":520,"wires":[[]]},{"id":"1beddee.ba93621","type":"function","z":"f9e042ec.81f39","name":"Json-prepare","func":" \n\nmsg.payload = msg.payload.substring(\n    msg.payload.lastIndexOf(\"{\"),\n    msg.payload.lastIndexOf(\"}\")\n\n);\n\n    msg.payload=msg.payload.concat(\"}\");    \nif(msg.payload!=='}')\n    return msg;","outputs":1,"noerr":0,"x":410,"y":540,"wires":[["e2d1ad1d.64333"]]},{"id":"6dccc4a2.3003dc","type":"json","z":"f9e042ec.81f39","name":"json/object","property":"payload","action":"","pretty":true,"x":730,"y":540,"wires":[["1765f331.da547d","88693f97.ee3ef"]]},{"id":"e2d1ad1d.64333","type":"change","z":"f9e042ec.81f39","name":"Json-prepare","rules":[{"t":"change","p":"payload","pt":"msg","from":"'","fromt":"str","to":"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":540,"wires":[["6dccc4a2.3003dc"]]},{"id":"1765f331.da547d","type":"function","z":"f9e042ec.81f39","name":"packet-prepare","func":"msg.headers=\n{\n    \"Content-Type\": \"application/json\"\n}\n\nmsg.payload={\n \n \"value1\":msg.payload.s\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":520,"wires":[["3cbcef9a.57924"]]},{"id":"54b7b942.b283a8","type":"file","z":"f9e042ec.81f39","name":"","filename":"/home/user/Desktop/mote2.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1130,"y":560,"wires":[[]]},{"id":"88693f97.ee3ef","type":"function","z":"f9e042ec.81f39","name":"adding-date","func":"var d= new Date();\nmsg.payload=\n{\"date\":d ,\"sender\":msg.payload.s,\"receiver\":msg.payload.r };\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":560,"wires":[["54b7b942.b283a8"]]},{"id":"87376bda.bae1b8","type":"http request","z":"f9e042ec.81f39","name":"alarm-trigger","method":"POST","ret":"obj","paytoqs":false,"url":"https://maker.ifttt.com/trigger/alert/with/key/cA9iEK8uTRXRJ4BX4wuDxW","tls":"","persist":false,"proxy":"","authType":"","x":1070,"y":640,"wires":[[]]},{"id":"c432f2c8.1b45c","type":"function","z":"f9e042ec.81f39","name":"Json-prepare","func":" \n\nmsg.payload = msg.payload.substring(\n    msg.payload.lastIndexOf(\"{\"),\n    msg.payload.lastIndexOf(\"}\")\n\n);\n\n    msg.payload=msg.payload.concat(\"}\");    \nif(msg.payload!=='}')\n    return msg;","outputs":1,"noerr":0,"x":410,"y":660,"wires":[["785cb252.bd4ebc"]]},{"id":"9574bdad.4c954","type":"json","z":"f9e042ec.81f39","name":"json/object","property":"payload","action":"","pretty":true,"x":730,"y":660,"wires":[["b31722bc.cba07","8648869a.809f68"]]},{"id":"785cb252.bd4ebc","type":"change","z":"f9e042ec.81f39","name":"Json-prepare","rules":[{"t":"change","p":"payload","pt":"msg","from":"'","fromt":"str","to":"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":660,"wires":[["9574bdad.4c954"]]},{"id":"b31722bc.cba07","type":"function","z":"f9e042ec.81f39","name":"packet-prepare","func":"msg.headers=\n{\n    \"Content-Type\": \"application/json\"\n}\n\nmsg.payload={\n \n \"value1\":msg.payload.s\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":640,"wires":[["87376bda.bae1b8"]]},{"id":"8648869a.809f68","type":"function","z":"f9e042ec.81f39","name":"adding-date","func":"var d= new Date();\nmsg.payload=\n{\"date\":d ,\"sender\":msg.payload.s,\"receiver\":msg.payload.r };\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":680,"wires":[["a4346f7.6abca9"]]},{"id":"810fd628.7cdb28","type":"http request","z":"f9e042ec.81f39","name":"alarm-trigger","method":"POST","ret":"obj","paytoqs":false,"url":"https://maker.ifttt.com/trigger/alert/with/key/cA9iEK8uTRXRJ4BX4wuDxW","tls":"","persist":false,"proxy":"","authType":"","x":1070,"y":760,"wires":[[]]},{"id":"e50a8ae1.94ea68","type":"function","z":"f9e042ec.81f39","name":"Json-prepare","func":" \n\nmsg.payload = msg.payload.substring(\n    msg.payload.lastIndexOf(\"{\"),\n    msg.payload.lastIndexOf(\"}\")\n\n);\n\n    msg.payload=msg.payload.concat(\"}\");    \nif(msg.payload!=='}')\n    return msg;","outputs":1,"noerr":0,"x":410,"y":780,"wires":[["c636398f.20c3a8"]]},{"id":"e44fcf00.b0f42","type":"json","z":"f9e042ec.81f39","name":"json/object","property":"payload","action":"","pretty":true,"x":730,"y":780,"wires":[["9e001d79.55f5d","bf7effce.d26f"]]},{"id":"c636398f.20c3a8","type":"change","z":"f9e042ec.81f39","name":"Json-prepare","rules":[{"t":"change","p":"payload","pt":"msg","from":"'","fromt":"str","to":"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":780,"wires":[["e44fcf00.b0f42"]]},{"id":"9e001d79.55f5d","type":"function","z":"f9e042ec.81f39","name":"packet-prepare","func":"msg.headers=\n{\n    \"Content-Type\": \"application/json\"\n}\n\nmsg.payload={\n \n \"value1\":msg.payload.s\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":760,"wires":[["810fd628.7cdb28"]]},{"id":"bf7effce.d26f","type":"function","z":"f9e042ec.81f39","name":"adding-date","func":"var d= new Date();\nmsg.payload=\n{\"date\":d ,\"sender\":msg.payload.s,\"receiver\":msg.payload.r };\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":800,"wires":[["3ce6254b.535f3a"]]},{"id":"e99c2991.dc1b38","type":"http request","z":"f9e042ec.81f39","name":"alarm-trigger","method":"POST","ret":"obj","paytoqs":false,"url":"https://maker.ifttt.com/trigger/alert/with/key/cA9iEK8uTRXRJ4BX4wuDxW","tls":"","persist":false,"proxy":"","authType":"","x":1070,"y":880,"wires":[[]]},{"id":"95e39186.6cf59","type":"function","z":"f9e042ec.81f39","name":"Json-prepare","func":" \n\nmsg.payload = msg.payload.substring(\n    msg.payload.lastIndexOf(\"{\"),\n    msg.payload.lastIndexOf(\"}\")\n\n);\n\n    msg.payload=msg.payload.concat(\"}\");    \nif(msg.payload!=='}')\n    return msg;","outputs":1,"noerr":0,"x":410,"y":900,"wires":[["59d08d27.eea304"]]},{"id":"5f974048.71f55","type":"json","z":"f9e042ec.81f39","name":"json/object","property":"payload","action":"","pretty":true,"x":730,"y":900,"wires":[["9f2c3533.38ca88","e2940c48.ef19f"]]},{"id":"59d08d27.eea304","type":"change","z":"f9e042ec.81f39","name":"Json-prepare","rules":[{"t":"change","p":"payload","pt":"msg","from":"'","fromt":"str","to":"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":900,"wires":[["5f974048.71f55"]]},{"id":"9f2c3533.38ca88","type":"function","z":"f9e042ec.81f39","name":"packet-prepare","func":"msg.headers=\n{\n    \"Content-Type\": \"application/json\"\n}\n\nmsg.payload={\n \n \"value1\":msg.payload.s\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":880,"wires":[["e99c2991.dc1b38"]]},{"id":"e2940c48.ef19f","type":"function","z":"f9e042ec.81f39","name":"adding-date","func":"var d= new Date();\nmsg.payload=\n{\"date\":d ,\"sender\":msg.payload.s,\"receiver\":msg.payload.r };\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":920,"wires":[["223f5710.0c3478"]]},{"id":"a4346f7.6abca9","type":"file","z":"f9e042ec.81f39","name":"","filename":"/home/user/Desktop/mote3.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1130,"y":680,"wires":[[]]},{"id":"3ce6254b.535f3a","type":"file","z":"f9e042ec.81f39","name":"","filename":"/home/user/Desktop/mote4.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1130,"y":800,"wires":[[]]},{"id":"223f5710.0c3478","type":"file","z":"f9e042ec.81f39","name":"","filename":"/home/user/Desktop/mote5.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1130,"y":920,"wires":[[]]}]