flow.json
[{"id":"b5d1af96.0416f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8a9a8a88.ca1ed","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"677f7957.6b9a5","type":"mqtt-broker","z":"","name":"","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ee537ff4.57e1a8","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"40eb1717.f2f29","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":320,"wires":[]},{"id":"b1e6a171.0d44f8","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":210,"y":300,"wires":[["f1936945.f8ca18"]]},{"id":"e99abc91.53ba6","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":600,"wires":[]},{"id":"f1936945.f8ca18","type":"switch","z":"b5d1af96.0416f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Temp","vt":"str"},{"t":"cont","v":"Press","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":480,"wires":[["cce7f45c.994b"],["4fb2962d.006d68"]]},{"id":"cce7f45c.994b","type":"split","z":"b5d1af96.0416f8","name":"","splt":"=","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":440,"wires":[["886fd993.253228"]]},{"id":"886fd993.253228","type":"split","z":"b5d1af96.0416f8","name":"","splt":"}","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":440,"wires":[["f9736e72.ad6b68"]]},{"id":"f9736e72.ad6b68","type":"switch","z":"b5d1af96.0416f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"str","v2":"70","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":440,"wires":[["7a191f0.5c0eb6"]]},{"id":"9ba12a.dadfa6d8","type":"mqtt out","z":"b5d1af96.0416f8","name":"Temperature","topic":"channels/1071962/publish/fields/field1/RFHGJDPJNV57E7GP","qos":"0","retain":"","broker":"677f7957.6b9a5","x":1250,"y":460,"wires":[]},{"id":"4fb2962d.006d68","type":"split","z":"b5d1af96.0416f8","name":"","splt":"=","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":520,"wires":[["ce137157.4e8768"]]},{"id":"ce137157.4e8768","type":"split","z":"b5d1af96.0416f8","name":"","splt":"}","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":690,"y":520,"wires":[["2eb60b09.ee140c"]]},{"id":"2eb60b09.ee140c","type":"switch","z":"b5d1af96.0416f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"str","v2":"70","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":520,"wires":[["813acbd5.26b318"]]},{"id":"7a191f0.5c0eb6","type":"delay","z":"b5d1af96.0416f8","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":460,"wires":[["9ba12a.dadfa6d8","40eb1717.f2f29"]]},{"id":"edd6dc99.f1bd48","type":"mqtt out","z":"b5d1af96.0416f8","name":"Pressure","topic":"channels/1071962/publish/fields/field2/RFHGJDPJNV57E7GP","qos":"0","retain":"","broker":"677f7957.6b9a5","x":1260,"y":520,"wires":[]},{"id":"69708113.51efc","type":"delay","z":"b5d1af96.0416f8","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":520,"wires":[["edd6dc99.f1bd48","e99abc91.53ba6"]]},{"id":"813acbd5.26b318","type":"delay","z":"b5d1af96.0416f8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":580,"wires":[["69708113.51efc"]]}]
